extends layout.jade

block content
  section.container
      include header.jade
      div.item
          form.formulario(method="POST" action="/actualizar/#{data[0].pelicula_id}")
            fieldset
              div.container.p1
                  label.item.i-b.v-top.ph3.p_25.right(for="pelicula_id") IMDB id:
                  input.item.i-b.v-top.ph9.p_25#id(type="text", name="id",value="#{data[0].pelicula_id}", disabled, required)
                  input#pelicula_id(type="hidden", name="pelicula_id", value="#{data[0].pelicula_id}", required)
              div.container.p1
                  label.item.i-b.v-top.ph3.p_25.right(for="titulo") Titulo:
                  input.item.i-b.v-top.ph9.p_25#titulo(type="text", name="titulo",value="#{data[0].titulo}" required)
              div.container.p1
                  label.item.i-b.v-top.ph3.p_25.right(for="anio") Año:
                  input.item.i-b.v-top.ph9.p_25#anio(type="text", name="anio",value="#{data[0].anio}" required)
              div.container.p1
                  label.item.i-b.v-top.ph3.p_25.right(for="rating") Rating:
                  input.item.i-b.v-top.ph9.p_25#rating(type="text", name="rating",value="#{data[0].rating}" required)
              div.container.p1
                  label.item.i-b.v-top.ph3.p_25.right(for="imagen") Poster:
                  input.item.i-b.v-top.ph9.p_25#imagen(type="text", name="imagen",value="#{data[0].imagen}" required)
              div.container.p1
                  input.item.button.add(type="submit", value="Editar")
                  input(type="hidden", name="_method" value="PUT")

